.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}

.parent-button {
    display: flex;
}

.button-entrance {
    flex-basis: 50%;
}

.active {
    background-color: #12b088;
}

.inactive {
    background-color: #425258;
}

.button1:hover {}

.button-register {
    /* background-color: #008CBA; */
    flex-basis: 50%;

}

@media only screen and (max-width: 400px) {
    .parent-button {
        /* display: flex; */
        flex-direction: column;
    }
  }