.container-info {
    display: flex;
    flex-direction: column;
    color: white;
    direction: rtl;
    margin-top: 35px;
}

.container-label{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
} 
.container-value{
    display: flex;
    width: 100%;
}
.container-value h3{
    flex-basis: 50%;
}