.welcome{
    color:white;
    direction: rtl;
    /* text-align: center; */
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colorUser{
    color:red;
}